
button.pr-update {
    font-size: 18px;
    padding: 25px;
}

.form-table td > input {
    width: 40em !important;
}
.avecdobtn {
    background: #0096FF !important;
    width: 100% !important;
    font-size: 14px !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.avecdobtn:hover {
    color: #fff;;
    text-decoration: none;
    border: none;
}
.avecdobtn-primary {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.txtcenter{text-align: center;}
.avecdowrap {
    width: 100%;
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
}
.boxfull{
    float: left;
    width: 100%;
    height: 250px;
}
.boxfull.dyn{
    height: 100%;
}
.boxfull.static h4 {
    float: left;
}
.boxfull.static{
    width: 600px;
}
.subheader{
    margin: 0 0 5px 0;
    float: none !important;
    display: block;
}
.boxstatic {
    width: 600px;
    margin: 0 auto;
}
.boxstatic:after {
    content: "";
    clear: both;
}
.boxstatic h4 {
    font-size: 20px;
}
.boxstatic .left {
    border-right: 1px solid #dedede;
    width: 290px;
    padding-right: 9px;
}
.boxstatic .right {
    border-left: 1px solid #dedede;
    width: 290px;
    padding-left: 9px;
}
.activation-flow {
    background-image: url(../images/activation-flow.png);
    background-position: 50% 30px;
    background-size: 500px auto;
    background-repeat: no-repeat;
    height: 300px !important;
}
.logo{
    background-image: url(../images/avecdo-logo.png);
    background-position: 50% 30px;
    background-size: 300px auto;
    background-repeat: no-repeat;
}
.right-sm-logo {
    width: 150px !important;
    float: right;
}
.boxhalf {
    float: left;
    width: 50%;
}
.boxfull .boxhalf {
    margin-top: 300px;
}
.boxfull form{
    margin-bottom: 50px;
}
.box-layout {
    background-color: #ffffff;
    border: 1px solid #dedede;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 8px;
    float: left;
}
#avecdo_activation_key {
    width: 100%;
    line-height: 2.5;
}
.hlp-list {
    list-style: decimal   !important;
    padding: 0 0 0 15px;
}
.left {
}
.right {
}
.mtop{
    margin-top: 50px;
}

@media screen and (max-width: 620px) {

    .boxfull.static{
        width: 300px;
    }
    .activation-flow {
        background-size: 260px auto;
        background-repeat: no-repeat;
        height: 200px !important;
    }

    .boxstatic {
        width: 95% !important;
    }
    .boxhalf {
        width: 100% !important;
    }
    .boxstatic .left {
        padding-right: 0px;
    }
    .boxstatic .right {
        padding-left: 0px;
    }
}

.avecdobgcolor{
    color: #FFFFFF !important;
    border-radius: 5px;
    background-color: #3BA1D2  !important;
}
.avecdobgcolor a {
    color: rgb(202, 229, 223);
}
.avecdobglogo {
    background-image: url(../images/avecdo-logo.png);
    background-position: 5px 3px;
    background-size: 120px auto;
    background-repeat: no-repeat;
    padding-left: 135px;
}